<div class="row-fluid">
  <div class="span8 offset2">
    <%= form_for @article do |f| %>
      <%= render "form_errors", article: @article %>
      <%= f.text_field :title, placeholder: "Title" %>
      <%= f.text_area :content, class: "tinymce" %>
      <%= tinymce %>
      <p class="post_button">
        <%= f.submit "Post Article", class: "btn" %>
      </p>
    <% end %>
  </div>
</div>
