<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "BAHelms United" %></title>
  <%= stylesheet_link_tag "application", media: "all", 
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <% flash.each do |key, value| %>
      <div class="row-fluid">
        <%= content_tag(:div, value, class: "alert alert-#{key} span8 offset2") %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
